@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

.wrapper {
  margin: 8px;
  padding: 8px;
  border: 1px solid black;
}

.header__container {
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 8px;
}

.grid {
  display: flex;
  gap: 4px;
}

.grid-item {
  width: 50%;
}
